@using GreenGardens.Models
@model Product

<<form asp-action="Create" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Product</h2>
            <hr />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="SKU" class="p-0"></label>
            <input asp-for="SKU" class="form-control" />
            <span asp-validation-for="SKU" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Manufacturer" class="p-0"></label>
            <input asp-for="Manufacturer" class="form-control" />
            <span asp-validation-for="Manufacturer" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="ListPrice" class="p-0"></label>
            <input asp-for="ListPrice" type="number" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Price50" class="p-0"></label>
            <input asp-for="Price50" type="number" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Price100" class="p-0"></label>
            <input asp-for="Price100" type="number" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <select asp-for="CategoryId" asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem> )" class="p-0">
                <option disabled selected>--Select Category--</option>
            </select>
            <input asp-for="CategoryId" type="number" class="form-select" />
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
